* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 80vmin;
  margin: 0 auto;
  align-items: center;
}

.drum-wrapper {
  display: flex;
  width: 80vmin;
  height: 80vmin;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.drum {
  width: 30%;
  height: 30%;
  border: 1vmin solid;
  border-radius: 50%;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 5vmin;
}
